################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.rsa
*.user
/src/Server/.vs/
/src/Server/Euromonitor.Server.Api/bin
/src/Server/Euromonitor.Server.Api/obj
/src/Server/Euromonitor.Server.Api/Properties/PublishProfiles
/src/Server/Euromonitor.Server.IdentityServer/bin
/src/Server/Euromonitor.Server.IdentityServer/obj
/src/Server/Euromonitor.Server.IdentityServer/Properties/PublishProfiles
/src/Server/Euromonitor.Server.IdentityServer/authserver_log.txt
/src/Server/Euromonitor.Server.IdentityServer.Infrastructure/bin
/src/Server/Euromonitor.Server.IdentityServer.Infrastructure/obj
/src/Server/.vs/Euromonitor.Server/config
/src/Server/Euromonitor.Server.Api/.config
/src/Server/Euromonitor.Server.Interfaces/bin/Debug/netstandard2.0
/src/Server/Euromonitor.Server.Interfaces/obj
/src/Server/Euromonitor.Server.MongoDbProvider/bin/Debug/netstandard2.0
/src/Server/Euromonitor.Server.MongoDbProvider/obj
/src/Server/DbClientConsole/bin/Debug/netcoreapp3.1
/src/Server/DbClientConsole/obj
/src/Server/tests/Euromonitor.Server.MongoDbProvider.Tests/bin/Debug/netcoreapp3.1
/src/Server/tests/Euromonitor.Server.MongoDbProvider.Tests/obj
/src/Server/Euromonitor.Server.Interfaces/bin/Release/netstandard2.0
/src/Server/Euromonitor.Server.MongoDbProvider/bin/Release/netstandard2.0
